:root {
    --primary-color: #242429;
    --text-color: #fff;
    --nav-title: #a2a2a2;
}

.side_bar {
    height: 100%;
    width: 15.2rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    padding-top: 1.2rem;
    transition: transform 0.3s ease-in-out;

    font-family: nationale, nationale-regular, helvetica, arial, sans-serif
}

.side_bar a {
    padding: 1rem 0 1rem .5rem;
    margin-left: 1.2rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    display: block;
    width: 83%;
}

.side_bar a:hover {
    background-color: #717171;
    border-radius: .8rem;
    border: 0;
}

/* Estilo para la barra de desplazamiento del sidebar */
.side_bar {
    overflow-y: auto; 
}

.side_bar::-webkit-scrollbar {
    width: 0; /* Ancho de la barra de desplazamiento */
}

.side_bar::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados del pulgar */
    border: 3px solid var(--secondary-color); /* Borde alrededor del pulgar */
}

.side_bar::-webkit-scrollbar-track {
    background-color: var(--primary-color); /* Color de la pista de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados de la pista */
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 4;
}

.link_with_icon {
    display: flex;
    align-items: center;

}

.link_with_icon svg {
    margin-right: .5rem;
    font-size: 1.4rem;
    vertical-align: text-bottom;
}

.link_with_icon a {
    line-height: 1.5;
}

.user_box {
    position: relative;
    display: flex;
    justify-content: column;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    color: var(--text-color);
    text-align: center;
    z-index: 5;
    box-sizing: border-box;
}


.user_box button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    margin: 0 1rem;
}

.arrow_btn {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
}

.user_options {
    box-sizing: border-box;
    max-width: 100%;
}

.user_options ul {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.user_options ul li {
    padding: .5rem;
    z-index: 5;
}

.user_options ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    border-bottom: 1px solid var(--nav-title);
}

/* Mostrar la lista cuando isDropdownOpen es true */
.user_options ul.show {
    position: relative;
    display: block;
    max-height: 500px;
}

.side_bar h2 {
    color: var(--nav-title);
    padding-left: 1.7rem;
    padding-top: 1.2rem;
    font-size: 1.1rem;
}


@media (max-width: 768px) {
    .side_bar {
        padding-top: 2.5rem;
        transform: translateX(-100%);
        z-index: 3;
    }

    .side_bar.open {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }
}